<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="org.example.RapMusic"
                        init-method="init"
                        destroy-method="destroy"
                        factory-method="getRapMusic">
                </bean>
                <bean class="org.example.ClassicMusic">
                </bean>
                <bean class="org.example.RockMusic">
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayer"
          class="org.example.MusicPlayer">
        <property name="musicList" ref="musicList"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>